<nav>
	<div class="nav-wrapper">
		<a href="/home" class="brand-logo">Home</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<% if(currentUser) {%>
			<li><a href="users/<%= currentUser.userName %>"><%= currentUser.userName %></a> </li>
			<li>
			<form class="" action="/sessions?_method=DELETE" method="POST">
				<button class="btn-large waves-effect waves-light" type="submit" name="action">Log Out</button>
			</form>
			</li>
		<%} else {  %>
			<li><a href="/sessions/new">Login</a></li>
			<li><a class="" href="/users/new">Sign Up</a></li>
		<% } %>
		</ul>
	</div>
</nav>
