<nav>
	<div class="nav-wrapper">
		<a href="/home" class="brand-logo">Home</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li>Profile</li>
			<li>Post</li>
			<li>Settings</li>
		</ul>
	</div>
</nav>
