<%- include('../partials/header.ejs') %>
<div class="row">
<form class="col s10" action="/sessions" method="POST">


<div class="row s10 offset-s1">
	<div class="input-field col s5">
		<input type="text" id="user_name" name="userName" class="validate">
		<label for="user_name">Username</label>
	</div>
	<div class="input-field col s5">
		<input type="password" id="password" name="password" class="validate">
		<label for="password">Password</label>
	</div>
</div>
<button class="btn waves-effect waves-light" type="submit" name="action">Login</button>
</form>
</div>
<%- include('../partials/footer.ejs') %>
